@charset "UTF-8";
/* CSS Document */

/* Shooters events style - Jeremy Pretko */


    body {
      margin: 0;
      padding: 0;
      font-family: 'Comic Neue', cursive;
      background-color: #46025f;
      color: black;
    }

    header {
      background: #0d0024;
      color: white;
      padding: 20px;
      text-align: center;
	  background-image: url("../images/shooters-background.jpg");
      background-repeat: no-repeat;
      background-size: 1500px 100px;
    }

    .logo-img {
      max-width: 300px;
      height: auto;
    }

    nav ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin-top: 20px;
      flex-wrap: wrap;
      gap: 15px;
    }

    nav ul li a {
      color: white;
      text-decoration: none;
      padding: 10px 15px;
      background: #333;
      border-radius: 5px;
      transition: background 0.3s;
    }

    nav ul li a:hover {
      background-color: #555;
    }

    main {
      padding: 40px 20px;
      max-width: 1200px;
      margin: auto;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }
	
	section {
		margin: 10px;
		padding: 10px;
		border: solid white 2px;
		text-align: center;
		color: white;
	}
	
	section img {
		width: 50%;
		height:25%;
		border-style: solid;
		border-color: #0d0024;
		border-width: 10px;
	}
	
	#bookNow {
		width: 150px;
		height: 50px;
		margin: auto;
		}
		
	div.bullets {
		text-align: center;
	}
	
	ul {
		list-style-position: inside;
		display: table;
		margin: 0 auto;

	}
	
	h3 { 
	text-decoration: underline;
	font-size:25px;	
	}
	
	h2 { 
	text-decoration: underline;
	font-size: 40px;
	}

	h1 {
		color: white;
		padding: 20px;
	}
	
	
	
	

footer {
      background-color: #0d0024;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 50px;
    }

    @media (max-width: 768px) {
      main {
        flex-direction: column;
        align-items: center;
      }
    }
	
	a img {
		width: 50px;
		height: 50px;
	}